#.gitignore for the PoshProfiles Repository
#############################################
#This is a backup file from a markdown editor.
*.backup
#This is a temoprary save file from Powershell Studio.
*.TempPoint.*
#These are Powershell Studio Project Files
*.psproj
*.psprojs